.studentGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.studentGrid > span {
  padding: 8px 4px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.studentList__Header {
  font-weight: bold;
}

.blockGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.blockGrid > span {
  padding: 8px 4px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.main-header {
  grid-area: header;
  color: white;
  text-align: center;
  background-color: #3b3a30;
}
.main-section {
  grid-area: content;
  color: white;
  background-color: #b2c2bf;
}
.main-nav {
  grid-area: nav;
  color: #3b3a30;
  background-color: #eaece5;
}

.app {
  max-width: 1024px;
  margin: 0 auto;
  font: 1.2em Helvetica, arial, sans-serif;
}

.app > * {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.app {
  display: grid;
  gap: 5px;
  grid-template-areas:
    "header header"
    "nav content"
    "nav content";
}

@media (min-width: 500px) {
  .app {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "nav     content"
      "nav content";
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 700px) {
  .app {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "nav    content content"
      "nav    content content";
  }
  nav ul {
    flex-direction: column;
  }
}
